// Variables
$primary-color: #198754;
$secondary-color: #f5f5f5;
$text-color: #333;
$border-radius: 8px;
$star-color: #FFB33E; // Màu vàng cho sao
$silver: #c0c0c0; // Màu cho sao chưa được chọn
$gold: #ffb62e; // Màu cho sao đã được chọn
$input-padding: 10px; // Padding cho input
$button-padding: 8px 12px; // Padding cho nút

// Container
.job-detail {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
  }

  .col-7 {
    position: relative;

    .job-detail-info {
      h1.job-title {
        color: #404145;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
      }

      .seller-overview {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;

        .seller-avatar {
          width: 30px;

          img {
            border-radius: 50%;
          }
        }

        .seller-name {
          font-weight: bold;
          color: #404145;
          cursor: pointer;
          font-weight: 700;
          text-transform: capitalize;
        }

        .seller-level {
          color: $primary-color;
          font-weight: 500;
        }

        .seller-ordered {
          margin-left: 10px;
          color: #95979d;
          font-weight: 500;
        }

        .seller-star-rating {
          .ant-rate {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            font-size: 24px;
            color: #ffcc00; // Màu sắc mặc định của ngôi sao chưa chọn
            transition: color 0.2s ease;
        
            .ant-rate-star {
              margin-right: 8px;
              transition: color 0.2s ease;
        
              &.activeStar {
                color: #ffcc00; // Màu sắc cho ngôi sao đã chọn
              }
        
              &:hover {
                color: #ffcc00; // Màu sắc khi hover
              }
            }
          }
        
          .starScore {
            font-size: 18px;
            margin-left: 10px;
            color: #333;
          }
        
          .rating {
            font-size: 16px;
            margin-left: 5px;
            color: #62646a;
        
            span {
              font-weight: bold;
            }
          }
        }
        



      }

      span {
        font-size: 0.9rem;
        color: $text-color;
      }
    }
  }

}

.job-img {
  margin-top: 1rem;
  overflow: hidden; 

  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    transition: transform 0.3s ease; 
    &:hover {
      transform: scale(1.1); // Phóng to hình ảnh khi hover
    }
  }
}


.job-description {
  margin-top: 2rem;

  h2 {
    color: #404145;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .description {
    border-bottom: 1px solid #c5c6c9;
    color: #62646a;
    font-size: 500;
    font-size: 18px;
    padding-bottom: 20px;
  }
}

.about-seller {
  margin-top: 2rem;

  h2 {
    color: #404145;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .profile {
    display: flex;
    gap: 16px;
    align-items: center;

    .profile-img {
      width: 110px;
      height: 110px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .profile-label {
      display: flex;
      flex-direction: column;

      .seller-name {
        color: $primary-color;
        font-weight: bold;
        font-size: 1.5rem;
      }

      p {
        color: #62646a;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      .seller-star-rating {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $star-color;

        .ant-rate {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;
        }

        .ant-rate-star {
          font-size: 24px;
          margin-right: 5px;
          color: rgb(255, 179, 62);
        }

        .ant-rate-star-zero {
          color: #ccc;
        }


        .star-score,
        .rating {
          margin-left: 8px;
          font-size: 0.9rem;
          color: #666;
          color: #ffb33e;
          font-weight: 700;
          margin: 0 4px;
        }
      }

      .contact {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}

.FAQ {
  margin-top: 2rem;

  h2 {
    color: #404145;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    padding: 0;

    .faq-header {
      cursor: pointer; 
      display: flex;
      justify-content: space-between; 
      align-items: center;
      padding: 10px; 
      background-color: #f9f9f9; 
      border: 1px solid #ddd;
      border-radius: 8px; 
      transition: background-color 0.3s ease; 

      &:hover {
        background-color: #e2f7e2; 
      }

      .arrow {
        transition: transform 0.3s ease; 
      }

      &.open .arrow {
        transform: rotate(180deg); 
      }
    }

    p {
      padding: 10px; 
      background-color: #fff; 
      border: 1px solid #ddd; 
      border-radius: 8px; 
      margin-top: 5px; 
      transition: max-height 0.3s ease, opacity 0.3s ease; // Hiệu ứng chuyển động cho nội dung
    }

    li {
      list-style-type: none; 
      margin-bottom: 10px; 
    }

    li {
      margin-bottom: 1rem;


      input[type='checkbox'] {
        display: none;
      }

      svg {
        margin-right: 10px;
      }

      h3 {
        cursor: pointer;
        transition: color 0.2s;
        color: #62646a;
        font-size: 18px;
        font-weight: 600;

        &:hover {
          color: darken($primary-color, 15%);
        }
      }

      p {
        margin-top: 0.5rem;
        line-height: 1.5;
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        margin-top: 14px;
      }
    }
  }
}

.rating-section {
  margin-top: 2rem;

  .review-count {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }

    .star {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
          color: $star-color;
          transition: color 0.2s;

          &:hover {
            color: lighten($star-color, 10%);
          }
        }
      }
    }

    .sort {
      display: flex;
      align-items: center;

      span.pre-title {
        margin-right: 10px;
      }
    }
  }

  .review-rating {
    display: flex;
    margin-top: 1rem;

    .col-md-6 {
      &:first-child {
        .stars-counters {
          table {
            width: 100%;

            tbody {
              tr {
                td {
                  &:first-child {
                    button {
                      background: none;
                      border: none;
                      color: $primary-color;
                      cursor: pointer;
                      transition: color 0.2s;

                      &:hover {
                        color: darken($primary-color, 15%);
                      }
                    }
                  }

                  &:last-child {
                    .star-score-container {
                      .progress {
                        height: 8px;
                        background-color: $secondary-color;

                        .progress-bar {
                          background-color: $primary-color;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:last-child {
        h3.review-title {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .review-filter {
    margin-top: 30px; 

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    .search-form {
      display: flex; 
      align-items: center; 
      max-width: 350px;

      input {
        border: 1px solid #c5c6c9;
        border-radius: 4px 0 0 4px;
        color: #62646a;
        font-size: 16px;
        outline: none;
        padding: 10px 2px 10px 16px;
        width: 400px;

        &:focus {
          border-color: $primary-color; 
          box-shadow: 0 0 5px rgba($primary-color, 0.5); 
        }
      }

      button {
        display: flex;
        align-items: center;
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: 0 4px 4px 0;
        padding: 15px;
        cursor: pointer;

        span {
          display: flex;
          align-items: center;
        }

        svg {
          width: 16px;
          height: 16px;
          transition: 0.5s ease;

        }

        &:hover {
          background-color: darken($primary-color, 10%);
          transition: 0.5s ease;
        }
      }
    }
  }

  .review-comment {
    margin-top: 2rem; 

    .review-comment-list {
      list-style: none; 
      padding: 0; 
      margin: 0; 

      li {
        display: flex; 
        padding: 1.5rem 0; 
        border-bottom: 1px solid #f0f0f0; 
        transition: background-color 0.2s ease; 

        &:hover {
          background-color: #f9f9f9; 
        }

        .reviewer-avatar {
          width: 20%; 
          .rounded-circle {
            border-radius: 50%; 
            width: 100%; 
            height: auto; 
          }
        }

        .reviewer-comment {
          width: 80%; 
          padding-left: 1rem; 

          .reviewer-name {
            display: flex;
            align-items: center; 

            h3 {
              margin-right: 0.5rem; 
            }

            .star {
              margin-right: 0.5rem;
            }
          }

          .reviewer-country {
            display: flex; 
            align-items: center; 
            margin: 0.5rem 0; 

            .country-flag {
              margin-right: 0.5rem; 
            }

            .country-name {
              font-size: 0.9rem; 
              color: #666; 
            }
          }

          .comment {
            margin-bottom: 0.5rem; 

            p {
              font-size: 0.95rem; 
              color: #333; 
              line-height: 1.5; 
            }
          }

          .reviewer-helpful {
            display: flex; 
            align-items: center; 
            gap: 0.5rem; 

            .helpful-title {
              font-weight: bold; 
            }

            .helpful-thumb {
              display: flex; 
              align-items: center; 
              gap: 0.5rem; 

              .yes,
              .no {
                display: flex; 
                align-items: center; 
                gap: 0.25rem;
                cursor: pointer; 

                svg {
                  fill: #007bff; 
                }

                &:hover {
                  text-decoration: underline; 
                }
              }
            }
          }
        }
      }
    }
  }



  .add-comment {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .comment-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
      margin: 0;
      color: #404145;
      font-size: 20px;
      font-weight: 700;
    }

    .ant-rate {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        display: inline-block;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }

        svg {
          width: 16px;
          height: 16px;
          fill: rgb(255, 17, 9, 62);
        }
      }
    }
  }

  form {
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      margin-bottom: 10px;
      resize: none;

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }

    .comment-submit {
      background-color: $primary-color;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }





}

.col-4 {
  .check-out {
    border: 1px solid #dee2e6; // Đường viền cho tab đang hoạt động


    // Phần header của checkout
    &-header {
      background-color: #f8f9fa; // Màu nền cho header
      border-bottom: 1px solid #dee2e6; // Đường viền dưới
      padding: 1rem;

      &-inner {
        .nav {
          display: flex; // Sử dụng flexbox
          justify-content: space-between; // Phân bố đều các phần tử

          .nav-item {
            flex: 1; // Chia đều không gian cho mỗi item

            .nav-link {
              background-color: #fafafa;
              border: none;
              border-bottom: 2px solid #dadbdd;
              border-radius: 0;
              color: #74767e;
              font-weight: 700;
              padding: 16px;
              width: 100%; // Đảm bảo width 100%

              &.active {
                background-color: #fff;
                border-bottom: 2px solid #1dbf73;
                color: #1dbf73;
              }

              &:hover {
                background-color: rgba(0, 123, 255, 0.1); // Màu nền khi hover
              }
            }
          }
        }
      }
    }

    // Phần body của checkout
    &-body {
      padding: 24px;

      form {
        .tab-content {
          .tab-pane {
            padding: 1rem;

            // Nội dung tab active
            &.active {
              border-radius: 0.25rem; // Bo góc cho tab
            }

            .price {
              font-size: 24px;
              font-weight: 600;
            }

            .description {
              color: #62646a;
              margin: 20px 0 !important;
            }

            .additional-info {
              margin-top: 1rem; // Khoảng cách trên

              .delivery,
              .revision {
                color: #62646a;
                font-weight: 600;

                svg {
                  fill: #28a745;
                }
              }
            }

            .feature {
              list-style: none; // Bỏ kiểu danh sách
              margin-top: 1rem; // Khoảng cách trên giữa thông tin bổ sung và tính năng
              padding: 0;

              li {
                color: #95979d;
                font-weight: 600;
                margin-bottom: 2px;

                svg {
                  fill: #1dbf73; // Màu cho biểu tượng SVG
                }
              }
            }
          }
        }
      }
    }

    // Phần footer của checkout
    &-footer {
      display: flex;
      flex-direction: column; // Chia theo chiều dọc
      align-items: center; // Căn giữa các phần tử
      padding: 0 24px 12px;

      .submit {
        background-color: $primary-color; // Màu nền cho nút submit      
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        padding: 12px 24px;
        position: relative;
        text-align: center;
        transition: 70ms cubic-bezier(.75, 0, .25, 1);
        width: 100%;

        &:hover {
          background-color: #20744d; // Màu nền khi hover
        }
      }

      .compare {
        color: #1dbf73;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        padding: 12px;
        text-align: center;
        width: 100%;
        text-decoration: none;

        &:hover {
          color: #20744d; // Màu chữ khi hover
        }
      }
    }
  }

}